*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 100%, 99%);
    font-family: 'Barlow', sans-serif;
}

.nav{
    background: #3CBEFF;
    display: flex;
    justify-content: space-between;
    top: 1.8rem;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

a:visited{
    color: white;
}

ul li {
    list-style-type: none;
}

.nav-links {
    display: none;
}

header{
    position: relative;
    height: 100%;
}

.header-text{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2.4rem;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 10%;
    color: white;
}

.image-header-mobile{
    width: 100%;
}

@media (min-width: 768px) {
    .nav-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
        background-color: transparent;
        color: white;
    }

    .burger{
        display: none;
    }

}