*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 100%, 99%);
    font-family: 'Barlow', sans-serif;
}

.nav{
    background: #3CBEFF;
    display: flex;
    justify-content: space-between;

}

a {
    text-decoration: none;
}

a:visited{
    color: white;
}

ul li {
    list-style-type: none;
}

.nav-links {
    display: none;
}

@media (min-width: 768px) {
    .nav-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
        background-color: transparent;
        color: white;
    }

}